a {
    text-decoration: none;
  }

.body{
  background-color: #686868; 
  font-family: 'Noto Sans KR', sans-serif;
}


#wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#wrap .title{
  position: absolute;
  font-size: 50px;
  top: 70px;
  color: #00498c;
  font-weight: bold;
  
}

#wrap #memberadmin{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 50px;
    width: 400px;
    height: 400px;
    color: #fff;
    background-color:#00498c;
    cursor: pointer;
    
}
#wrap #movieadmin{
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 50px;
    width: 400px;
    height: 400px;
    color: #fff;
    background-color: #00498c;
    cursor: pointer;
}
