.wrap{
    display: block;
    margin-left: 100px;
}

.show{
    font-size: 30px;
    color: black;
    margin: 10px;
    text-align: left;
    font-family: 'GmarketSansMedium';
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.search-select{
    display:flex;  
    justify-content: center;  
    margin: 0px 0px 50px 200px;
}
.selectbox{
    position: relative; 
    border: 1px solid #686868; 
    left: -198px; 
    width:5rem; 
    height:3rem;  
    text-align:center
}
.search {
    width: 26rem;
    height:3rem; 
    border: 1px solid #686868; 
    margin-left:-198px;
}
.submit {
    position: absolute;
    width: 5.5rem;
    height:47.99px;
    border:none;  
    background: #686868;
    color: #fff; 
    cursor:pointer;  
    
}